<!DOCTYPE html>
<html>
<head> <script language="JavaScript" type="text/javascript">

javascript:window.history.forward(1);

</script> </head>
<title>Social Service Trust</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="img/logo.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
  padding-top: 20px;


}

.mySlides {
    display: none;
box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.7), 0 6px 100px 0 rgba(0, 0, 0, 0.19);
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("img/homebg.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
.bhtn:hover{
  opacity: 0.7;
}
</style>
<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
      <a href="home.php#home" class="w3-bar-item w3-button w3-wide" style="padding: 0px; margin-left: 10px"><img src="img/logo.png" style="max-height: 55px"/></a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small w3-hide-medium">
        <a href="home.php#about" class="w3-bar-item w3-button">ABOUT</a>
<a href="home.php#news" class="w3-bar-item w3-button"><i class="fa fa-newspaper-o"></i> NEWS</a>
        <a href="home.php#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>
        <a href="home.php#pricing" class="w3-bar-item w3-button"><i class="fa fa-inr"></i> DONATION</a>
        <a href="home.php#gallery" class="w3-bar-item w3-button"><i class="fa fa-picture-o"></i> GALLERY</a>
        <a href="home.php#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
  <a href="login.html" class="w3-bar-item w3-button"><i class="fa fa-user"></i> LOGIN</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close</a>
    <a href="home.php#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
<a href="home.php#news" onclick="w3_close()" class="w3-bar-item w3-button">NEWS</a>

    <a href="home.php#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
    <a href="home.php#pricing" onclick="w3_close()" class="w3-bar-item w3-button">DONATION</a>
    <a href="home.php#gallery" onclick="w3_close()" class="w3-bar-item w3-button">GALLERY</a>
    <a href="home.php#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  <a href="login.html" onclick="w3_close()" class="w3-bar-item w3-button">LOGIN</a>
  </nav>

  <div class="w3-container w3-white" style="padding:128px 16px" id="about">
  <h2 class="w3-center">LOGIN</h2>
  <form class="w3-center" name="login" onsubmit="return validate()" action="admino.php">
    <p><input class="w3-input w3-border fa fa-user" style="max-width: 300px" type="text" placeholder="Username" required name="Name" id="Name"></p>
    <p><input class="w3-input w3-border fa fa-key"  style="max-width: 300px" type="password" placeholder="Password" required name="Pass" id="Pass"></p>
<br>
    <p>
      <input class="w3-button w3-black" type="submit" value="LOGIN" >

    </p>
  </form>
</div>

  <footer class="w3-center w3-padding-64" style="background-color: #333333">

    <p style="color: white">Powered by<br>
<img src="img/foot.jpg" /></p>
  </footer>
  <script type="text/javascript">
    function validate()
    {
      var x = document.forms["login"]["Name"].value;
      var y = document.forms["login"]["Pass"].value;

      if(x=="sst" && y=="1234")
      {
        <%Session["controlID"] = "hi";%>
        return true;

      }
      else {
        alert("Username or password incorrect");
        return false;
      }

    }


  </script>
</body>
</html>
